
<% content_for :title, "Lists" %>
<%= render "table_list" %>

<% if @lists.empty? %>
  <div class="text-center my-5">
    <p class="text-muted">No lists found. Create your first todo list!</p>
  </div>
<% end %>
<br/>
<%= link_to "Delete Complete Item", home_trash_em_path, class: "btn btn-sm btn-secondary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= link_to "Delete All Items", home_trash_em_all_path, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
